@import '../../styles/index.less';

.g-cascader {
  color: @font-color;
  position: relative;

  &-trigger {
    height: 36px;
    width: 230px;
    border: 1px solid #e5e5ea;
    border-radius: @border-radius;
    overflow: hidden;
    padding: 8px 12px 8px 12px;
    box-sizing: border-box;
    color: @font-color-primary;

    &:hover {
      cursor: pointer;
      border-color: @color-primary;
    }

    &.active {
      border-color: @color-primary;
    }
  }

  &-select {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-placeholder {
      color: @font-color;
    }

    &-caret {
      color: @font-color;
      font-size: 20px;

      & > svg {
        transition: all 0.2s linear;
      }

      &.active {
        & > svg {
          transform: rotate(180deg);
          transform-origin: center;
        }
      }
    }

    &-clear {
      color: @font-color;
    }
  }

  &-popover {
    position: absolute;
    top: 36px;
    left: 0;
    z-index: 10;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06), 0 4px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
  }

  &-item {
    display: flex;

    &-left {
      height: 192px;
      min-width: 120px;
      font-size: @font-size;
      color: @font-color;
      line-height: 20px;
      transition: color 0.3s linear, background-color 0.3s linear;
      cursor: pointer;
      text-decoration: none;
      border-left: 1px solid #e5e5ea;

      &:last-of-type {
        border-right: 1px solid #e5e5ea;
      }

      &-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 8px 8px 12px;

        &:hover {
          background: #f2faff;
          cursor: pointer;
          font-weight: bold;
        }

        &-active {
          background: #f2faff;
          font-weight: bold;
        }
      }

      &-icon {
        font-size: 20px;
        color: #8e8e93;
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
