@import '../../styles/index.less';

@prefixCls: ~'@{css-prefix}-input';

.@{prefixCls} {
  &-wrapper {
    position: relative;
    display: inline-block;
    color: @input-font-color;
    font-size: @input-font-size;
  }

  &-textarea {
    line-height: @input-textarea-line-height;
    color: inherit;
  }

  &[disabled],
  &[readonly] {
    border: none;
    cursor: not-allowed;
    background-color: @input-bg-color-disabled;
  }
  // g-input
  color: inherit;
  border-radius: @input-border-radius;
  border: 1px solid @input-border-color;

  &:hover,
  &:focus,
  &:active {
    border-color: @input-border-color-active;
    outline: none;
  }

  &-large {
    padding: @input-padding-large;
    font-size: @input-font-size-large;

    &.has-icon {
      padding: @input-padding-large-with-icon;
    }
  }

  &-medium {
    padding: @input-padding;
    font-size: inherit;

    &.has-icon {
      padding: @input-padding-with-icon;
    }
  }

  &-small {
    padding: @input-padding-small;
    font-size: @input-font-size-small;

    &.has-icon {
      padding: @input-padding-small-with-icon;
    }
  }

  &-extra-small {
    padding: @input-padding-extra-small;
    font-size: @input-font-size-extra-small;

    &.has-icon {
      padding: @input-padding-extra-small-with-icon;
    }
  }

  &-icon {
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: auto 0;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    &-clear {
      display: none;

      &-show {
        display: flex;
        align-items: center;
      }
    }
  }
}
