@import '../../styles/index.less';

.g-input {
  font-size: @font-size;
  color: @font-color;

  &-wrapper {
    position: relative;
  }

  border: 1px solid @border-color;
  border-radius: @border-radius;

  &:hover,
  &:focus,
  &:active {
    border-color: @color-primary;
    outline: none;
  }

  &-large {
    padding: @input-padding-large;
    font-size: @input-font-size-large;
  }

  &-medium {
    padding: @input-padding;
    font-size: @input-font-size;
  }

  &-small {
    padding: @input-padding-small;
    font-size: @input-font-size-small;
  }

  &-extra-small {
    padding: @input-padding-extra-small;
    font-size: @input-font-size-extra-small;
  }

  &-icon {
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    color: @font-color;

    &.clear {
      display: none;
    }

    &-show {
      display: block;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
