// reference: https://prettier.io/docs/en/integrating-with-linters.html
{
  "env": {
    "node": true
  },
  "plugins": ["jest-dom", "vue", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:jest-dom/recommended",
    "plugin:vue/recommended"
  ]
}
