// reference: https://prettier.io/docs/en/integrating-with-linters.html
{
  "env": {
    "node": true
  },
  "plugins": [
    "vue",
    "jest",
    "jest-dom",
    "testing-library"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "plugin:jest/recommended",
    "plugin:testing-library/recommended",
    "plugin:testing-library/vue",
    "plugin:jest-dom/recommended"
  ]
}