{
  "env": {
    "node": true
  },
  "plugins": ["jest-dom"],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:jest-dom/recommended",
    "plugin:vue/recommended",
    "prettier"
  ]
}
