@import "../../styles/variables/var.less";
@prefixCls: ~"@{css-prefix}-alert";

.@{prefixCls}{
  position: fixed;
  width: 100%;
  top: 16px;
  left: 0;
  text-align: center;
  pointer-events: none;
    &-info{
        & > .@{prefixCls}-content{
            border-color: @alert-info-color;
        }
    }
    &-warning{
        border-color: @alert-warning-color;
    }
    &-error{
        border-color: @alert-error-color;
    }
    &-success{
        border-color: @alert-success-color;
    }
    &-content{
    display: inline-block;
    padding: 8px 16px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
    margin-bottom: 8px;
  }
}