@padding: 0.5em;

// global config
@css-prefix: g;


// font
@font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

// color
@color: #fff;
@color-primary: #2ca9fa;
@color-warning: #fca130;
@color-error: #f93e3e;
@color-success: #35c613;
@color-info: #31c27c;
@color-disabled: #d8d8d8;
@color-inverted: #000;


// size
@font-size-small: 12px;
@font-size: 14px;
@font-size-medium: 16px;
@font-size-large: 18px;
@font-size-extra-large: 20px;

// text
@text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
@font-color: #575757;
@font-color-primary: @color-primary;


// border
@border-color: #999;
@border-color-hover: #999;
@border-radius: 4px;
@border-radius-round: 20px;


// animations
@animation-time: 0.5s;
@animation-type: cubic-bezier(0.08, 0.82, 0.17, 1);

// -------- components -----------

// button
@button-height: 32px;
@button-height-large: 40px;
@button-height-small: 24px;
@button-font-size: @font-size;
@button-padding: 0 20px;
@button-padding-large: 0 30px;
@button-padding-small: 0 10px;
@button-bg: #fff;
@button-bg-active: #eee;
@button-bg-disabled: #d8d8d8;

// input
@input-height: 32px;
@input-height-large: 40px;
@input-height-small: 24px;
@input-padding: 4px 10px;
//@input-box-shadow:

// switch
@switch-height: 22px;
@switch-width: 44px;
@switch-inner-radius: 20px;
@switch-offset-left: (@switch-height - @switch-inner-radius);

@switch-height-small: 16px;
@switch-width-small: 32px;
@switch-inner-radius-small: 14px;

@switch-height-large: 30px;
@switch-width-large: 60px;
@switch-inner-radius-large: 28px;

@switch-border-radius: 44px;
@switch-border-radius-small: 50%;

@switch-color-checked: @color-primary;
@switch-color-disabled: @color-disabled;

// grid
@max-col-num: 24;

// alert
@alert-info-color: @color-primary;
@alert-error-color: @color-error;
@alert-warning-color: @color-warning;
@alert-success-color: @color-success;

// tab
@tab-active-color: @color-primary;
@tab-disabled-color: @color-disabled;

// collapse
@collapse-title-bg: #f7f7f7;
@collapse-title-color: #666;
@collapse-content-bg: #fff;
@collapse-content-color: #515a6e;
@collapse-border-color: @border-color;


// carousel
@carousel-dot-size: 7px;
@carousel-dot-bg: #bbbbbe;
@carousel-dot-bg-hover: #fff;
@carousel-dot-bg-active: @color-primary;
