@padding: 0.5em;

@color: #fff;
@color-primary: #2ca9fa;
@color-warning: #fca130;
@color-error: #f93e3e;
@color-success: #35c613;
@color-info: #31c27c;
@color-disabled: #d8d8d8;
@color-inverted: #000;

@border-color: #999;
@border-color-hover: #999;
@border-radius: 4px;
@border-radius-round: 20px;

@text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
@font-size: 14px;
@font-color: @color;

// button
@button-height: 32px;
@button-height-large: 40px;
@button-height-small: 24px;
@button-font-size: @font-size;
@button-padding: 0 30px;
@button-padding-large: 0 40px;
@button-padding-small: 0 10px;
@button-bg: #fff;
@button-bg-active: #eee;
@button-bg-disabled: #d8d8d8;

// input
@input-height: 32px;
@input-height-large: 40px;
@input-height-small: 24px;
@input-padding: 4px 10px;
//@input-box-shadow:
